<style>
    .rating {

        font-size: 30px;
    }
    .ratingTbl td:last-child {
        padding: 30px 0 0 20px;
    }

    .ratingTbl td:first-child {
        padding: 40px 0 0 0;
    }
</style>

<div class="row">
    <div class="panel panel-default panel-body">
    <div class="col-md-6">
        <h2>New Recipe</h2>
    </div>
    <div class="col-md-6">
        <br/><br/>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <button ng-click="vm.createRecipe(vm.newRecipe)" class="btn btn-lg btn-primary">Create</button>
                <button ng-click="vm.cancelRecipe()" class="btn btn-lg btn-default">Cancel</button>
            </div>
        </div>
    </div>
        </div>
</div>

<!-- Recipe Information -->

<div class="row">

    <div class="col-md-5">
        <div class="panel panel-default panel-body">
        <h4 style="margin-top: 0;"><i class="fa fa-info-circle"></i> Information</h4><br />
        <form class="form-group">

            <input ng-model="vm.newRecipe.name" class="form-control" placeholder="Recipe Name" /> <br />
            <input ng-model="vm.newRecipe.genre" typeahead="genre for genre in vm.genres | filter:$viewValue" class="form-control" placeholder="Genre" /> <br />
            <textarea ng-model="vm.newRecipe.description" class="form-control" placeholder="Description"></textarea> <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input ng-model="vm.newRecipe.prepTime" class="form-control" placeholder="Prep Time" />
                        <span class="input-group-addon">minutes</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input ng-model="vm.newRecipe.cookTime" class="form-control" placeholder="Cook Time" />
                        <span class="input-group-addon">minutes</span>
                    </div>
                </div>
            </div>

            <table class="ratingTbl">
                <tr>
                    <td>How would you rate it? </td>
                    <td>
                        <div class="rating">
                            <rating ng-model="vm.newRecipe.rating" max="5" state-on="'fa fa-star'" state-off="'fa fa-star-o'"  on-hover="vm.ratingHover(value)" on-leave="overStar = null"></rating>
                        </div>
                    </td>
                </tr>
            </table>

        </form>
            </div>
    </div>


    <!-- Ingredients -->

    <div class="col-md-7">
        <div class="panel panel-default panel-body">
        <h4 style="margin-top: 0;"><i class="fa fa-list-alt"></i> Ingredients</h4><br />
        <div class="row">
            <div class="col-md-3">
                <input ng-model="vm.newIngredientMeasurement" class="form-control" placeholder="how much?" />
            </div>
            <div class="col-md-7">
                <input ng-model="vm.newIngredientName" class="form-control" placeholder="of what?" />
            </div>
            <div class="col-md-1">
                <button ng-click="vm.addIngredient()" class="btn btn-primary">add</button>
            </div>
        </div><br/>

        <div class="well-sm text-muted" ng-show="vm.newRecipe.ingredients.length == 0">
            <i>No ingredients have been added.</i>
        </div>

        <ul class="list-group">
            <li ng-repeat="ingredient in vm.newRecipe.ingredients" class="list-group-item">
                <div class="row">
                    <div class="col-md-3">{{ingredient.measurement}}</div>
                    <div class="col-md-7">{{ingredient.name}}</div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <a href="javascript:void(0)" ng-click="vm.deleteIngredient($index)" class="text-danger">
                                    <i class="fa fa-minus-circle"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>


<!-- Directions -->

<div class="panel panel-default panel-body">

<h4><i class="fa fa-compass"></i> Directions</h4><br />

<div class="row">
    <div class="col-md-1">
        <input ng-model="vm.newDirectionStep" class="form-control" placeholder="Step#" />
    </div>
    <div class="col-md-10">
        <input ng-model="vm.newDirectionInstructions" class="form-control" placeholder="Instructions" />
    </div>
    <div class="col-md-1">
        <button ng-click="vm.addDirection()" class="btn btn-primary">add</button>
    </div>
</div><br/>

<ul class="list-group">
    <li ng-repeat="direction in vm.newRecipe.directions" class="list-group-item">
        <div class="row">
            <div class="col-md-1"><span class="badge">{{direction.step}}</span></div>
            <div class="col-md-10">{{direction.instructions}}</div>
            <div class="col-md-1">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <a href="javascript:void(0)" ng-click="vm.deleteDirection($index)" class="text-danger">
                            <i class="fa fa-minus-circle"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </li>
</ul>

<div class="well-sm text-muted" ng-show="vm.newRecipe.directions.length == 0">
    <i>No directions have been added.</i>
</div>
</div>
