<br /><br />

<div class="panel panel-default recipe-panel">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-11">
                <h3>{{vm.recipe.name}}</h3>
            </div>
            <div class="col-md-1">
                <h3><a ui-sref="editRecipe({recipeId: vm.recipe._id})"><i class="fa fa-edit"></i></a></h3>
            </div>
        </div>

    </div>

    <div class="panel-body recipe-panel-body">
        <div class="row">
            <div class="col-md-10">
                <i class="text-muted">About this recipe:</i>
            </div>
            <div class="col-md-2 rating">
                <rating ng-show="vm.recipe.rating" ng-model="vm.recipe.rating"  state-on="'fa fa-star'" state-off="'fa fa-star-o'" readonly="true"></rating>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                {{vm.recipe.description}}
            </div>

        </div><hr />

        <!-- General Info -->
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Cook Time  <i class="fa fa-clock-o"></i></th>
                    <th>Prep Time  <i class="fa fa-clock-o"></i></th>
                    <th>Ready In  <i class="fa fa-clock-o"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{vm.recipe.genre}}</td>
                    <td>{{vm.recipe.cookTime}} <span ng-show="vm.recipe.cookTime">minutes</span></td>
                    <td>{{vm.recipe.prepTime}} <span ng-show="vm.recipe.prepTime">minutes</span></td>
                    <td>{{vm.recipe.prepTime + vm.recipe.cookTime}}  <span ng-show="vm.recipe.cookTime && vm.recipe.prepTime">minutes</span></td>
                </tr>
            </tbody>
        </table>
        <div class="row">

            <!-- Ingredients -->
            <div class="col-md-5">
                <h4><i class="fa fa-list-alt"></i> Ingredients</h4><hr />
                <p ng-show="vm.recipe.ingredients.length == 0"><i class="text-muted">No ingredients have been added.</i></p>
                <table class="ingredientsTbl">
                    <tr ng-repeat="ingredient in vm.recipe.ingredients">
                        <td>
                            <li>{{ingredient.measurement}} {{ingredient.name}}</li>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Directions -->
            <div class="col-md-7">
                <h4><i class="fa fa-compass"></i> Directions</h4><hr />
                <p ng-show="vm.recipe.directions.length == 0"><i class="text-muted">No directions have been added.</i></p>
                <table class="directionsTbl">
                    <tr ng-repeat="direction in vm.recipe.directions">
                        <td>{{direction.step}}. </td>
                        <td>{{direction.instructions}}</td>
                    </tr>
                </table>
            </div>

        </div>

    </div>

</div>

<button ng-click="vm.goBack()" class="btn btn-inverse backBtn"><i class="fa fa-arrow-circle-left"></i> <span>Back</span></button>
<br /><br />