
<h1>Recipes</h1>
<hr>

<a ui-sref="newRecipe" class="btn btn-success">New Recipe</a>
<br><br>

<table class="table table-bordered table-hover">
    <thead class="bg-primary">
        <tr>
            <th>Recipe</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="recipe in vm.recipes">
            <td><a ui-sref="recipe({recipeId: recipe._id})">
                {{recipe.name}}</a>
            </td>
            <td>
                <rating ng-show="recipe.rating" ng-model="recipe.rating"  state-on="'fa fa-star'" state-off="'fa fa-star-o'" readonly="true"></rating>
            </td>
        </tr>
    </tbody>
</table>