<br />

<style>
    .recipeTbl th, .ingredientsTbl td, .directionsTbl td {
        padding-right: 22px;
    }
    .recipeTbl tr {
        padding-top: 8px;
    }
    .ingredientsTbl td, .directionsTbl td {
        vertical-align: top;
    }
    .recipe-panel-body{
        padding: 10px 30px 30px 30px;
    }
    .panel-heading  h3 {
        margin: 8px 0 8px 5px;
        font-size: 32px;
    }
    .panel-heading h3 a {
        color: #fff;
    }
    .panel-heading h3 a:hover {
        color: #fff;
        opacity: .9;
    }
    .panel-heading {
        background-color: #1ABC9C!important;
        color: #ffffff!important;
    }
    .rating {
        font-size: 24px;
    }
    h5 > i, button > i {
        padding-right: 10px;
    }
    .backBtn  {
        font-size: 16px!important;
    }



</style>

<div class="panel panel-default recipe-panel">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-11">
                <h3>{{vm.recipe.name}}</h3>
            </div>
            <div class="col-md-1">
                <h3><a ui-sref="editRecipe({recipeId: vm.recipe._id})"><i class="fa fa-edit"></i></a></h3>
            </div>
        </div>

    </div>

    <div class="panel-body recipe-panel-body">
        <div class="row">
            <div class="col-md-10">
                <i class="text-muted">About this recipe:</i>
            </div>
            <div class="col-md-2 rating">
                <rating ng-show="vm.recipe.rating" ng-model="vm.recipe.rating"  state-on="'fa fa-star'" state-off="'fa fa-star-o'" readonly="true"></rating>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                {{vm.recipe.description}}
            </div>

        </div><hr />

        <!-- General Info -->
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Cook Time  <i class="fa fa-clock-o"></i></th>
                    <th>Prep Time  <i class="fa fa-clock-o"></i></th>
                    <th>Ready In  <i class="fa fa-clock-o"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{vm.recipe.genre}}</td>
                    <td>{{vm.recipe.cookTime}} <span ng-show="vm.recipe.cookTime">minutes</span></td>
                    <td>{{vm.recipe.prepTime}} <span ng-show="vm.recipe.prepTime">minutes</span></td>
                    <td>{{vm.recipe.prepTime + vm.recipe.cookTime}}  <span ng-show="vm.recipe.cookTime && vm.recipe.prepTime">minutes</span></td>
                </tr>
            </tbody>
        </table>
        <div class="row">

            <!-- Ingredients -->
            <div class="col-md-5">
                <h5><i class="fa fa-list-alt"></i> Ingredients</h5><hr />
                <table class="ingredientsTbl">
                    <!--<tr class="text-muted" ng-show="vm.recipe.ingredients.length == 0"><i>There are no ingredients to show.</i></tr>-->
                    <tr ng-repeat="ingredient in vm.recipe.ingredients">
                        <td>
                            <li>{{ingredient.measurement}} {{ingredient.name}}</li>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Directions -->
            <div class="col-md-7">
                <h5><i class="fa fa-compass"></i> Directions</h5><hr />
                <table class="directionsTbl">
                    <!--<tr class="text-muted" ng-if="vm.recipe.directions.length == 0"><i>There are no directions to show.</i></tr>-->
                    <tr ng-repeat="direction in vm.recipe.directions">
                        <td>{{direction.step}}. </td>
                        <td>{{direction.instructions}}</td>
                    </tr>
                </table>
            </div>

        </div>

    </div>

</div>

<button ui-sref="recipes" class="btn btn-inverse backBtn"><i class="fa fa-arrow-circle-left"></i> <span>Back</span></button>